<!DOCTYPE html>

<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Company Name">
        <link rel="icon" href="{% static 'myapp/images/favicon.ico' %}" >
    </head>
    <body>
      
        <!-- <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Company Name"> -->
        
        <title>Company Name</title>
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'myapp/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- <link href="/static/polls/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Custom CSS -->
        <link href="{% static 'myapp/css/simple-sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'myapp/css/main.css' %}" rel="stylesheet">
        
        <!-- <link href="/static/polls/css/simple-sidebar.css" rel="stylesheet">
            <link href="/static/polls/css/main.css" rel="stylesheet"> -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-header">
                <h1>Processing...</h1>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div> -->
        
      
    </body>
</html>
